body { width: 100%; font-size: 12px; color: #fff; font-family: "微软雅黑"; padding: 0; margin: 0 auto; }
ul, li, ol, p, dl, dt, dd { margin: 0px; padding: 0px; list-style: none; }
img, fieldset { vertical-align: top; border: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0; padding: 0; }
address, cite, code, em, th { font-weight: normal; font-style: normal; }
input, button, textarea, select { font: 100%; font-family: "微软雅黑"; outline: medium; vertical-align: middle }
table, td, tr, th { font-size: 12px; }
*{ outline: none !important;}
a { color: #000; text-decoration: none; }
a:hover { color: #333; /* transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease;  */ }
.clearfix { *zoom: 1; clear: both; }
.clearfix:after { display: block; overflow: hidden; clear: both; height: 0px; visibility: hidden; content: "."; }
.section { position: relative; }
.nav { height: 84px; background: #fff; position: absolute; top: 0; left: 0; width: 100%; z-index: 999; }
.nav-inner { width: 1120px; margin: 0 auto; }
.logo { width: 290px; float: left; }
.menu-items { float: left; padding: 24px 0 0 0; }
.menu-items li { float: left; font-size: 16px; color: #000; margin: 0 40px 0 0; }
.menu-items li a { border: 3px solid rgba(0, 0, 0, 0); border-radius: 15px; display: block; padding: 0 15px; height: 38px; line-height: 38px; text-align: center; }
.menu-items li.current a, .menu-items li a:hover { background: #fff; border: 3px solid #e8236e; color: #e8236e; border-radius: 15px; }
.scroll-tip { position: absolute; bottom: 20px; width: 100%; text-align: center; color: #000; font-size: 14px; line-height: 20px; }
.scroll-tip img { margin-bottom: 10px; }
.section1 { background: url(../images/bg_page1.jpg) center top no-repeat; }
.slogan { width: 377px; position: absolute; top: 0; left: 50%; margin-left: -189px; text-align: center; }
.business { position: absolute; top: 415px; left: 0; width: 100%; }
.business-inner { width: 1120px; margin: 0 auto; text-align: center; }
.business-btn { padding-bottom: 20px; }
.business-line { padding-bottom: 20px; }
.business-items li { float: left; font-size: 16px; color: #000; width: 20%; }
.business-items li img { background: #fff; border-radius: 50%; padding: 8px; margin-bottom: 5px; }
.business-items li span{ display: inline-block; background: #ff5c9a; height: 30px; line-height: 30px; border-radius: 15px; color: #fff; padding: 0 15px;}
.section2 { background: url(../images/bg_page2.jpg); }
.section2 .nav { background: rgba(255, 255, 255, .5); }
.page2-slide { width: 1120px; margin: 0 auto; position: relative; top: 50px; }
.page2-title { position: absolute; top: 130px; text-align: center; font-size: 16px; width: 100%; }
.page2-title-text { padding-top: 25px; }
.page2-slide-item { float: left; margin: 0 16px; }
.page2-slide-text { text-align: center; }
.page2-slide-text h4 { font-size: 20px; font-weight: normal; margin-bottom: 5px; padding-top: 10px; }
.page2-slide-text p { font-size: 16px; color: #febdd7; }
.page2-slide-text a:link,
.page2-slide-text a:visited{ color: #fff;}
.page2-slide-img img { background: rgba(255, 255, 255, .5); border-radius: 50%; padding: 12px; margin-bottom: 5px; }
.page2-slide-img:hover img{ background: rgba(255,255,255,.6); opacity: .9;}
.section2 .scroll-tip { color: #f8aecc; }
.page3-title { position: absolute; top: 130px; text-align: center; font-size: 16px; width: 100%; }
.page3-title-text { padding-top: 25px; color: #000; }
.section3 { background: url(../images/bg_page3.jpg) center top no-repeat; }
.section3 .scroll-tip { color: #c9c8cc; }
.page3-tab { width: 1120px; margin: 0 auto; font-size: 25px; color: #000; text-align: center; position: absolute; top: 315px; left: 50%; margin-left: -560px; }
.page3-tab li { display: inline-block; margin: 0 30px; padding-bottom: 5px; }
.page3-tab li.current { border-bottom: 3px solid #e8236e; }
.page3-tab li.current a, .page3-tab li a:hover { color: #e8236e; }
.page3-tab-content { width: 1120px; margin: 0 auto; font-size: 20px; line-height: 30px; position: relative; top: 40px; }
.page3-tab-content img:hover{ opacity: .9;}
.show-slide { text-align: center; }
.section4 { background: #373737; }
.section4 .nav { background: #ebebeb; }
.page4-title { position: absolute; top: 130px; text-align: center; font-size: 16px; width: 100%; }
.page4-title-text { padding-top: 25px; color: #fff; }
.platforms { position: absolute; top: 280px; left: 0; width: 100%; }
.platforms ul { width: 1120px; margin: 0 auto; }
.platforms li { float: left; margin: 0 6px 12px; }
.platforms li img { border: 1px solid #d8d8d8; }
.page4-title-2 { position: absolute; top: 600px; text-align: center; font-size: 16px; width: 100%; }
.footer { height: 120px; background: #fff; width: 100%; position: absolute; left: 0; bottom: 0; font-size: 14px; color: #373737; width: 100%; }
.footer-inner { width: 1120px; margin: 0 auto; padding-top: 25px; }
.footer-logo { border-right: 1px solid #adadad; float: left; width: 215px; margin-right: 40px; }
.page4-title-contact { width: 1120px; margin: 10px auto; padding-top: 15px; }
.page4-title-contact li { width: 364px; height: 83px; display: inline-block; color: #fff; margin: 0 3px; }
.page4-title-contact a { display: block; background: #232323; border-radius: 20px; width: 338px; height: 83px; padding: 17px 0 0 26px; }
.page4-title-contact li a:link, .page4-title-contact li a:visited { color: #fff; }
.page4-title-contact a:hover { background: #565656; border-radius: 20px; }
.page4-title-contact li img { float: left; }
.page4-title-contact li span { float: left; margin: 10px 0 0 30px; }
#menu { position: fixed; top: 120px; right: 28px; z-index: 999; font-size: 16px; width: 105px; }
#menu li { height: 28px; line-height: 28px; margin-bottom: 10px; }
#menu li a { display: block; padding: 0 10px 0 15px; }
#menu li.active a { background: #e8236e; border-radius: 10px; color: #fff; }
#menu li.active a em { background-position: -13px 0; }
#menu li em { width: 13px; height: 13px; background: url(../images/circle.png) no-repeat; display: block; float: right; margin-top: 7px; }
#menu a:link, #menu a:visited { color: #0b0e13; }
.fp-viewing-page4 #menu a:link, .fp-viewing-page4 #menu a:visited { color: #fff; }
.slick-arrow { width: 63px; height: 63px; background: url(../images/arrow2.png) no-repeat; display: block; position: absolute; top: 74px; }
.slick-prev { background-position: -126px 0; left: -100px; }
.slick-disabled.slick-prev { background-position: -189px 0; }
.slick-next { background-position: 0 0; right: -85px; }
.slick-disabled.slick-next { background-position: -63px 0; }
@media all and (max-height:850px) {
	.slogan-img img { height: 350px; }
	.business { top: 350px; }
	.business-btn { padding-bottom: 5px; }
	.page2-slide { position: relative; top: 50px; }
	.page3-tab { top: 295px; }
	.page3-tab-content { top: 67px; }
	.page4-title { top: 100px; }
	.platforms { top: 230px; }
	.platforms li img { width: 80%; }
	.page4-title-2 { top: 495px; }
}
@media all and (max-height:700px) {
	.slogan-img img { height: 260px; }
	.business { top: 260px; }
	.page2-slide { position: relative; top: 70px; }
	.page3-tab { top: 260px; }
	.page3-tab-content { top: 105px; }
	.page4-title-text { padding-top: 5px; }
	.platforms li img { width: 65%; }
	.page4-title-2 { top: 440px; }
	.footer { height: 80px; }
	.footer-inner { padding-top: 10px; }
	.page4-title-contact a { padding: 10px 0 0 10px; }
	.page4-title-contact { margin-top: 0; }
}
/* 内页 */
.footer-in { position: inherit; background: #f2f2f2; }
.banner { width: 100%; height: 468px; background-position: center top; background-repeat: no-repeat; margin-top: 84px; }
.banner-showcase { background-image: url(../images/banner_showcase.jpg); }
.banner-news-list { background-image: url(../images/banner_news.jpg); }
.banner-about { background-image: url(../images/banner_about.jpg); }
.banner-recruit { background-image: url(../images/banner_recruit.jpg); }
.content { color: #000; width: 1120px; margin: 0 auto; padding-top: 80px; }
.showcase-item { background: #f4f4f4; padding: 65px; border-radius: 20px; margin-bottom: 40px; }
.showcase-item h2 { color: #e8236e; font-size: 32px; font-weight: bold; padding: 15px 0; }
.showcase-desc { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #d7d7d7; }
.showcase-desc-img { float: left; margin-right: 50px; }
.showcase-desc-img img { border: 8px solid #e7236d; }
.showcase-desc-text { font-size: 16px; line-height: 25px; }
.showcase-img { text-align: center; }
.showcase-img ul { margin: 0 -8px; }
.showcase-img li { float: left; margin: 0 8px; }
.more-case { width: 350px; height: 46px; line-height: 46px; font-size: 18px; color: #fff; text-align: center; background: #e7236d; border-radius: 15px; margin: 0 auto 50px; }
.news-list { }
.news-list li { margin-bottom: 80px; }
.news-list-img { float: left; width: 395px; }
.news-list-text { float: left; width: 715px; }
.news-list li h3 { font-size: 26px; font-weight: bold; color: #373737; line-height: 26px; padding-bottom: 15px; border-bottom: 1px solid #e3e3e3; margin-bottom: 20px; }
.news-list li h3 span { font-size: 12px; font-weight: normal; color: #a0a0a0; }
.news-list-text p { font-size: 16px; line-height: 22px; padding-bottom: 30px; }
.news-list-text .more { font-size: 16px; }
.news-list-text .more a:link, .news-list-text .more a:visited { color: #f15993; }
.news-list-text .more a:hover { text-decoration: underline; }
.pagination { text-align: center; margin-bottom: 50px; }
.pagination ul { font-size: 0; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle }
.pagination li { display: inline-block; *display: inline; *zoom: 1; margin: 0 2px; font-size: 16px; line-height: 2.2; vertical-align: top }
.pagination a { display: block; padding: 0 .8em; border: 1px solid #d6d6d6; color: #333; border-radius: 3px; background: #fff; float: right; }
.pagination .fh { font-family: "Simsun" }
.pagination a.current, .pagination a:hover { color: white; text-decoration: none; border-color: #f15993; background-color: #f15993 }
.pagination .page-num { vertical-align: middle; padding-left: 10px; font-size: 16px }
.news-content h1 { font-weight: bold; font-size: 26px; color: #373737; text-align: center; padding-bottom: 10px; }
.news-content .publish-date { color: #a0a0a0; font-size: 12px; text-align: center; padding-bottom: 50px; border-bottom: 1px solid #e3e3e3; margin-bottom: 50px; }
.news-content .news-con { width: 730px; font-size: 16px; color: #4c484e; line-height: 25px; margin: 0 auto; min-height: 300px; margin-bottom: 50px; }
.news-content .news-con p { padding-bottom: 20px; }
.about-logo { float: left; margin-right: 15px; }
.about-text { color: #000; font-size: 18px; }
.about-text p { padding-top: 30px; line-height: 26px; }
.adventages { margin-top: 75px; }
.adventages h2 { margin-bottom: 60px; text-align: center; font-size: 32px; font-weight: bold; height: 70px; line-height: 70px; background: #e8236e; color: #fff; border-radius: 35px; }
.adventage-col-1 { float: left; }
.adventage-col-2 { float: left; margin-left: 62px; }
.adventage-col-3 { float: right; }
.adventage-text { font-weight: bold; color: #272636; font-size: 20px; text-align: center; line-height: 35px; padding-top: 15px; }
.adventage-text .type2 { color: #e8236e; }
.scenes { margin-top: 30px; }
.scenes li { float: left; margin: 0 13px 26px; }
.scenes-business ul { padding: 35px 0 0 80px; }
.scenes-business li { width: 320px; float: left; color: #272636; font-size: 20px; font-weight: bold; padding-bottom: 10px; }
.scenes-conclusion { color: #e8236e; font-size: 20px; font-weight: bold; line-height: 35px; padding-top: 20px; text-align: center; }
.recruit { width: 1120px; margin: 10px auto; padding-top: 15px; margin-bottom: 50px; }
.recruit li { width: 526px; height: 87px; color: #fff; background: #232323; border-radius: 20px; padding: 17px 0 0 26px; font-size: 15px; position: relative; }
.recruit .recruit-1 { float: left; }
.recruit .recruit-2 { float: right; }
.recruit li a:link, .page4-title-contact li a:visited { color: #fff; }
.recruit li img { float: left; }
.recruit li div { float: left; margin: 0 0 0 20px; }
.recruit li div p { padding-bottom: 5px; font-weight: bold; font-size: 16px; }
.recruit .recruit-2 div p { padding-top: 10px; }
.view-job { position: absolute; top: 30px; right: 0; width: 156px; height: 44px; border-left: 1px solid #565656; }
.view-job-btn { display: block; width: 92px; height: 32px; line-height: 32px; color: #fff; text-align: center; border-radius: 14px; background: #e16868; margin: 5px 0 0 30px; }
.recruit-slide { text-align: center; width: 750px; margin: 0 auto; }
.recruit-slide-title { margin: 30px auto 30px; width: 415px; border-bottom: 1px solid #d7d7d7; padding-bottom: 25px; font-size: 25px; font-weight: bold; text-align: center; }
.recruit-slide-text { font-size: 15px; line-height: 22px; }
.recruit-slide-img img { margin: 0 auto; }
.recruit-slide .slide { padding-bottom: 170px; }
.recruit-slide .slick-arrow { top: 352px; z-index: 9999; }
.recruit-slide .slick-prev { left: 0; }
.recruit-slide .slick-next { right: 0; }

.slick-slider { margin-bottom: 30px; }
.slick-dots { position: absolute; bottom: 65px; display: block; width: 100%; padding: 0; list-style: none; text-align: center; }
.slick-dots li { position: relative; display: inline-block; width: 17px; height: 17px; border-radius: 100%; background: #d7d7d7;margin: 0 14px; padding: 0; cursor: pointer; text-indent: -999em;}
.slick-dots li button { font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { font-family: 'slick'; font-size: 6px; line-height: 20px; position: absolute; top: 0; left: 0; width: 20px; height: 20px; content: 'â€¢'; text-align: center; opacity: .25; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active  { background: #ff5c9a;}

.recruit-contact{ width: 620px; height: 60px; padding: 25px 0 25px 60px; background: #f2f2f2; border-radius: 50px; margin: 0 auto 80px;}
.recruit-contact-image{ float: left; margin-right: 28px;}
.recruit-contact-text{ float: left; font-size: 15px; padding-left: 28px; border-left:1px solid #e1e1e1; width: 460px; line-height: 25px;}
.recruit-contact-text a:link,
.recruit-contact-text a:visited{ color: #ff5e9b;}
.recruit-contact-text a:hover{ text-decoration: underline;}

.anchor-page{ background: #1b1b1b;}
.anchor{ height: 1480px; background: url(../images/bg_anchor.png) top right no-repeat #f15993; border: 20px solid #fff; margin: 50px 0; position: relative; padding-left: 140px; color: #fff;}
.anchor-img-1{ position: absolute; top: 0; left: 0;}
.anchor-img-2{ position: absolute; bottom: 0; right: 0;}
.anchor h1{ margin: 650px 0 0; font-size: 64px; font-weight: bold;}
.anchor h2{ font-size: 30px; font-weight: bold;}
.anchor h2 span{ font-size: 22px;}
.anchor-info-1, .anchor-info-2{ font-size: 20px; line-height: 30px;}
.anchor-info-1{ padding: 60px 0 50px;}